@page "{id?}"
@model Oldrook.Pages.Admin.AddEditCelebModel
@{
    ViewData["Title"] = Model.IsNewOne ? "New eleb" : "Edit celeb";
}

<h2>Megjöttél, hogy feltöltsél</h2>

@if (!ModelState.IsValid)
{
    <div class="offset-2 col-md-10">
        <h3 class="text-danger">Validation Errors</h3>
        <div asp-validation-summary="All"></div>
        <hr />
    </div>
}

<form method="post" class="" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Celeb.Fullname" class="col-md-2 custom-control-label"></label>
        <div class="col-md-10">
            <input asp-for="Celeb.Fullname" class="form-control" />
            <span asp-validation-for="Celeb.Fullname"></span>
        </div>
    </div>

    <label asp-for="Celeb.Image" class="col-md-2 custom-control-label"></label>
    <input type="file" asp-for="Image" />

    <hr />
    <div class="form-group">
        <div class="offset-md-2 col-md-10">
            <a asp-page="/Admin/Celeb_" asp-route-id="@Model.Id" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
            @if (!Model.IsNewOne)
            {
                <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
            }
        </div>
    </div>

</form>
